{{ template "base.html" . }}

{{ define "breadcrumb" }}
<a href="{{ .BasePath }}admin/dashboard">Dashboard</a>
{{ end }}

{{ define "content" }}
<div>
  <a href="{{ .BasePath }}admin/games/new">Create New Game</a>
</div>
<ul>
  {{ range .Games }}
    <li>
      <a href="{{ $.BasePath }}admin/games/{{ .GameID }}">
        {{ .DisplayName }} (id={{ .GameID }} type={{ .GameType }} {{ if not .IsPublic }}private{{ end }})
      </a>
      <ul>
        <li><a href="{{ $.BasePath }}golf/{{ .GameID }}/play">Play</a></li>
        <li><a href="{{ $.BasePath }}golf/{{ .GameID }}/watch">Watch</a></li>
        <li><a href="{{ $.BasePath }}admin/games/{{ .GameID }}/submissions">Submissions</a></li>
      </ul>
    </li>
  {{ end }}
</ul>
{{ end }}
