{{ template "base.html" . }}

{{ define "breadcrumb" }}
<a href="{{ .BasePath }}admin/dashboard">Dashboard</a>
{{ end }}

{{ define "content" }}
<table>
  <thead>
    <tr>
      <th scope="col">順位</th>
      <th scope="col">プレイヤー</th>
      <th scope="col">スコア1</th>
      <th scope="col">スコア2</th>
      <th scope="col">スコア3</th>
      <th scope="col">合計スコア</th>
      <th scope="col">提出時刻1</th>
      <th scope="col">提出時刻2</th>
      <th scope="col">提出時刻3</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Entries }}
      <tr>
        <td>{{ .Rank }}</td>
        <td>{{ .Username }}{{ if .UserLabel }} ({{ .UserLabel }}){{ end }}</td>
        <td>{{ .Score1 }}</td>
        <td>{{ .Score2 }}</td>
        <td>{{ .Score3 }}</td>
        <td>{{ .TotalScore }}</td>
        <td>{{ .SubmittedAt1 }}</td>
        <td>{{ .SubmittedAt2 }}</td>
        <td>{{ .SubmittedAt3 }}</td>
      </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
